{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <div class="row">
                {% for fm in add %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h3>Address {{fm.id}}</h3>
                            <p>Name: {{fm.name}}</p>
                            <p>Address: {{forloop.counter}}</p>
                            <p>state: {{fm.city}}</p>
                            <p>zipcode: {{fm.zipcode}}</p>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock main-content %}