{% extends 'app/base.html' %}
{% load static %}
{% block title %}Set password{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Set Password</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                <div class="mb-3">
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group">
                        {{fm.label_tag}}{{fm}}
                        <small class="text-denger">{{fm.errors|striptags}}</small>
                    </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary mt-4" value="Login">
                    <br>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}